<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class= "notice"><%= notice %></p>
    <% end %>

    <%if flash[:alert]%>
      <p class= "alert"><%= alert%></p>
    <% end %>

    <% if !member_signed_in? %>
      <%= link_to 'Log In', new_member_session_path %>
      <%= link_to 'Sign Up', new_member_registration_path %>
    <% end %>

    <% if member_signed_in? %>
      <%= link_to 'Log Out', destroy_member_session_path, method: :delete %> 
    <% end %>
    <%= yield %>
  </body>
</html>
