<!DOCTYPE html>
<html>
  <head>
    <title>DVNOMembersonly.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    
    <nav class="navbar navbar-light bg-dark text-white">
      <%= link_to 'DVNO Members Only ', posts_path , class: "primary-font-color"%>
      <div>
        <% if !member_signed_in? %>
          <%= link_to 'Log In', new_member_session_path, class: "primary-font-color" %>
          <%= link_to 'Sign Up', new_member_registration_path , class: "primary-font-color" %>
        <% end %>
        <% if member_signed_in? %>
          <span class="primary-font-color"><%= current_member.username %> is signed in!</span>
          <%= link_to 'Log Out', destroy_member_session_path, method: :delete, class: "secondary-font-color" %> 
      <% end %>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-dark" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <%if flash[:alert]%>
      <div class="alert alert-danger" role="alert">
        <%= alert%>
      </div>
    <% end %>

    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
